---
layout: layouts/diverse.njk
tags:
- nav
date: 1999-12-05
navtitle: test
---
<section id="index" class="clearfix">
  <div class="notifications">
    <article class="notification">
      <a href="https://diverse.direct/"><img src="http://diverse.jp/wp-content/uploads/1diverse_sale_20th.png"></a>
    </article>
    <article class="notification">
      <a href="http://adtechno5.diverse.jp"><img src="http://diverse.jp/wp-content/uploads/adt5bn-1.png"></a>
    </article>
  </div>
  <article>
    <a href="http://diverse.jp/dvsp-0243/" class="jacket">
      <img src="http://diverse.jp/wp-content/uploads/220_470_660_dvsp-0243.jpg" width="220" height="220"
        style="margin: 0px;">
    </a>
  </article>
  <article>
    <a href="http://diverse.jp/dvsp-0241/" class="jacket">
      <img src="http://diverse.jp/wp-content/uploads/220_DVSP-0241sq.jpg" width="220" height="220">
    </a>
  </article>
  <article>
    <a href="http://diverse.jp/dvsp-0240/" class="jacket">
      <img src="http://diverse.jp/wp-content/uploads/220_a2301601125_10.jpg" width="220" height="220">
    </a>
  </article>
  <article>
    <a href="http://diverse.jp/dvsp0236/" class="jacket">
      <img src="http://diverse.jp/wp-content/uploads/diverse_works10-220.jpg" width="220" height="220">
    </a>
  </article>
  <article>
    <a href="http://diverse.jp/dvsp-0239/" class="jacket">
      <img src="http://diverse.jp/wp-content/uploads/220_470_worksafter_jacket_1400.jpg" width="220" height="220">
    </a>
  </article>
  <article>
    <a href="http://diverse.jp/phant-prologue-ep01/" class="jacket">
      <img src="http://diverse.jp/wp-content/uploads/220_470_dvsp-0235_phantprologue_ep01_jacket_3000.png" width="220"
        height="220">
    </a>
  </article>
</section>
