---
layout: layouts/home.njk
tags:
  - nav
date: 1999-12-06
navtitle: Tools
---

<h1>Tools</h1>
<h2><a href="https://keanu-code.netlify.app/tools/editor">JSON Editor</a></h2>
<h2><a href="https://keanu-hastebin.herokuapp.com/">Hastebin</a></h2>
<h2><a href="https://keanu-code.netlify.app/tools/nullboard/nullboard">Nullboard</a></h2>
<h2><a href="https://keanu-code.netlify.app/tools/flipbook/">Flipbook</a></h2>
<h2><a href="https://keanu-code.netlify.app/tools/counter/counter">JS Counter</a></h2>
<h2><a href="https://keanu-code.netlify.app/tools/cps-counter/">CPS Counter</a></h2>
