---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
{% if author %} <sub>Author: {{ author }}</sub> {% endif %}

<hr>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
