---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
{% if author %} <sub>Author: {{ author }}</sub> {% endif %} <sub>|</sub> <sub>{{ date | rssDate }}</sub>
<br>
<hr>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>

<script src="https://utteranc.es/client.js"
        repo="keanuplayz/keanucode.ml"
        issue-term="url"
        label="comments"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
